.name_color{
color: brown;
}
body{
font-family:"Times New Roman";
color: black;
font-size:22px ;
line-height:normal ;
}
.half_width{
width: 50%;
float: left;

}
.side_image{
width:80% ;
height: 70%;
padding:25px 10px 10px 25px;

}
.primary-btn{
color: white;
background-color:rgba(0,200,230,.6);
border-bottom:5px solid none;
padding:13px 20px 13px 20px ;
margin:15px 25px 20px 10px;
border-radius:20px;
text-decoration:none;
}
h1 { 
font-size:1.6em;
}
.container{
padding-left:5% ;
display:inline-block;
}
.experiences{
margin:30px ;
padding:30px ;
border-radius:25px;
background-color:bgb(238,251,255) ;
}
.experience-item{
padding:10px ;
border-left:1px solid rgba(137,130,247,.2) ;
}
.back-grounds{
color:black ;
background-color: #fff;
border:2px solid  none;
margin:25px 20px 15px 15px;
padding:5px 5px 15px 10px ;
border-radius:20px;

}
.body-background{
background-color:#efefef;
}
.justify{
text-align:justify;

}
